h1 {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
picture {
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}