body {
    margin: 100px;
}
h1 {
    color: grey;
    font-size: 45px;
    font-weight: bold;
}
img {
    border-radius: 15px;
    width: 1000px;
    height: 300px;
}
.picture {
    align-content: center;
}