body {
    margin-left: 200px;
    margin-right: 200px;
}
h1 {
    color: rgb(62, 62, 62);
    font-size: 45px;
    font-weight: bold;
}
h2 {
    color: black;
    font-size: 30px;
    font-weight: bold;
}
img {
    border-radius: 15px;
    width: 1000px;
    height: 200px;
}
.LeftBox{
    width: 50%;
    float: left;
    border-radius: 15px;
    background-color: lightgrey;
    padding: 5px;
}
.RightBox{
    width: 50%;
    float: right; 
    border-radius: 15px;  
    background-color: lightgrey;
    padding: 5px; 
}
